@keyframes modalOpen {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-modalOpen {
  animation: modalOpen 0.3s ease-out forwards;
}
